- content_for :title, "New Announcement"

= bootstrap_form_for @announcement do |f|
  = f.text_field :title
  = f.text_area :body
  .form-group
    = label_tag :tags
    %p.help-block Hint: Pressing <code>,</code> will end a tag.
    = text_field_tag :tags, @announcement.tag_list, "data-role" => "tagsinput"
    %script
      $(document).ready(function(){
      var tags = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      prefetch: {
      url: "/announcements/tags",
      filter: function(list) {
      return $.map(list, function(tag) {
      return { name: tag }; });
      }
      }
      });
      tags.initialize();

      $('input#tags').tagsinput({
      typeaheadjs: {
      name: 'tags',
      displayKey: 'name',
      valueKey: 'name',
      source: tags.ttAdapter()
      }
      });
      });


  = f.submit "Create", class: "btn btn-primary"
