= bootstrap_form_for house_duty do |f|
  - unless house_duty.new_record?
    = f.hidden_field :id

  = f.text_field :name
  = f.text_area :description, rows: 4
  = f.number_field :default_count, min: 1

  - if house_duty.new_record?
    = f.submit "Create", class: "btn btn-success"
  - else
    = f.submit "Update", class: "btn btn-success"
