%h1 New Roster

%p Uncheck all house duties that don't need to be done.

%table.table
  %thead
    %tr
      %th
      %th House Duty
      %th Number of People Needed
  = form_tag [:house_duty_manager, :weekly_rosters] do
    %tbody
      - @house_duties.each do |house_duty|
        %tr
          %td= check_box_tag [:needs_assignments, house_duty], "1", true
          %td= house_duty.name
          %td= number_field_tag "house_duty_#{house_duty.id}_count", 1, min: 1
