- content_for :title, "New Roster"

%h1 New Roster

%p Uncheck all house duties that don't need to be done.

= form_for @weekly_roster do |f|
  %table.table
    %thead
      %tr
        %th
        %th House Duty
        %th Number of People Needed
    %tbody
      - f.object.allotments.each do |allotment|
        = f.fields_for :allotments, allotment do |ff|
          %tr
            = ff.hidden_field :house_duty_id, value: allotment.house_duty_id
            %td= ff.check_box :needed
            %td= allotment.house_duty.name
            %td= ff.number_field :count

  = f.submit "Generate Roster"

