- content_for :title, "Symbols of Lambda Chi Alpha"

.row
  .col-md-8
    %section
      %h2 Coat of Arms
      %p
        Coat of arms originated as family emblems, then cities, societies, and
        institutions adopted them. All college fraternities have them, but few have
        created their design with such faithful adherence to the laws of the ancient
        art of heraldry as has Lambda Chi Alpha.

      %p
        Designed by Jack Mason of Epsilon Zeta (University of Pennsylvania), our coat
        of arms displays our three open mottos, translated from top to bottom,
        &ldquo;Crescent in the Cross,&rdquo; &ldquo;Naught Without Labor,&rdquo;
        and &ldquo;Every Man a Man.&rdquo; Present are the crucicrescent, the lamp of
        learning, the clasped hands of brotherhood, and other symbols, as well as the
        inescutcheon signifying our merger with Theta Kappa Nu (the white rose is our
        fraternity flower) and the badge of membership below. In the medieval rules of
        heraldry it would be described as such:

      %p
        %strong Escutcheon:
        quarterly 1, vert, a lighten Greek lamp or; 2, or, an open book proper, bearing
        on its face the letters Chi, Omicron, Alpha Zeta; 3, able, a balance, or; 4,
        vert, a pair of clasped hands argent, between three mullets in chevron or;
        over all an inescutcheon argent, lion rampant holding a white rose slipped
        proper.

      %p
        %strong Behind the escutcheon
        a pair of swords in saltire, points downward, argent,
        pommels, and hilts or. Mantling vert, lined, or.

      %p
        %strong Encircling the escutcheon
        a riband purpire, edged argent, bearing the Greek motto Chalepa ta Kala
        surronded by an olive wreath which bears pendant the badge of the
        brotherhood.

      %p
        %strong Below the escutcheon
        a scroll with the Latin motto Vir Quisque Vir.

      %p
        %strong Crest:
        issuant from a crown celestial or, ensigning a gentlemen's helmet proper, a
        crucicrescent rayonne or, Latin motto Per Crucam Crescens, on scroll.

      %p
        %em
          From Baird's Manual of American College Fraternities, 19th Edition,
          (1977), p300.

  .col-md-4
    = image_tag "coat-of-arms.jpg", class: "img-responsive"

.row
  .col-md-8
    %section
      %h2 The Badge

      %p
        The badge is a pearl-set crescent with horns turned toward the left,
        enclosing a monogram of the Greek letters Lambda, Chi, and Alpha. The center
        of the crescent bears the Greek letters Delta and Pi in gold on black enamel.
        A variety of jewels may be selected for the Lambda.

      %p
        The badge of Lambda Chi Alpha is among the most meaningful in the
        fraternal world. Each stone, letter, and line, and each circle of the crescent
        has a special meaning.

      %p
        Our badge is made with the lambda being struck separately from a single
        piece comprising the chi, alpha, and crescent. The background for the letters
        delta and pi is enameled, and the lambda is joined to the remainder of the
        badge (always yellow, white, or green gold) before the eight crescent pearls
        and (optional) stones in the lambda are set.

      %p
        The badge is properly worn over the heart, preferably with a badge
        guard bearing a monogram of the member’s zeta designation, and only by
        initiated members, their wives, and their fiancees (special exceptions may be
        made for some housemothers).
  .col-md-4
    = image_tag "the-badge.png", class: "img-responsive"

.row
  .col-md-8
    %section
      %h2 Associate Member Pin
      %p
        The associate member pin has a most interesting history because it
        embodies the official badge of Theta Kappa Nu as well as the original new
        member pin of Lambda Chi Alpha. The original Lambda Chi Alpha pin was a gothic
        arch, and with the union, this was superimposed upon the triangles composing
        the official badge of Theta Kappa Nu.
  .col-md-4
    = image_tag "the-pin.png", class: "img-responsive"

.row
  .col-md-8
    %section
      %h2 The Seal
      %p
        The seal is used to identify official General Fraternity documents and
        publications. It should not be used for decoration, as an ornament for
        jewelry, stationery, etc., unless it is to be used as the official stationery
        for the General Fraternity. It is now properly used on charters, membership
        certificates, and authorized publications of the General Fraternities.

      %p
        The design consists of the cross and crescent upon which is superimposed a
        shield bearing the letters of the Fraternity, above all of which appears a
        gothic circle bearing in Greek the inscription, &ldquo;Seal of the Brotherhood of
        Lambda Chi Alpha.&rdquo;
  .col-md-4
    = image_tag "the-seal.png", class: "img-responsive"

.row
  .col-md-8
    %section
      %h2 The Flag
      %p
        The Lambda Chi Alpha flag may be flown on appropriate occasions or
        placed on a wall. Chapters may place their Zeta letters in the upper right
        corner to identify their flags.
  .col-md-4
    = image_tag "the-flag.png", class: "img-responsive"

.row
  .col-md-12
    %section
      %h2 The Flower
      %p
        The Fraternity flower is the white rose.

.row
  .col-md-12
    %section
      %h2 The Colors
      %p
        The Fraternity colors are purple, green, and gold.
