<!DOCTYPE html>
%html
  %head
    %title Green Pride | #{ content_for :title }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      %nav.navbar.navbar-default.navbar-fixed-top{ role: "navigation" }
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
      = yield
