<!DOCTYPE html>
%html
  %head
    %title Green Pride | #{ content_for :title }
    = stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      = render partial: 'navigation'
      .row.call-to-action
        .col-md-10.col-md-offset-1
          .jumbotron
            %h1 Don&rsquo;t Pledge A Fraternity
            %p.lead Join a Brotherhood
            %button.btn Learn More

      = yield
